body {
    font-family: Arial, sans-serif;
    background-color: #fffaf3;
    margin: 0;
    padding: 0;
  }
  
  .quiz-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #53245B;
    text-align: center;
    padding: 30px;
    border-radius: 10px 10px 0 0;
  }
  
  header h1 {
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .question h2 {
    background-color: #53245B;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .answers {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .answers li {
    background-color: #f7e3f7;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .answers li:hover {
    background-color: #e1bce3;
  }
  
  .justification {
    font-size: 0.9rem;
    margin-top: 10px;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .score {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .submit-button {
    background-color: #53245B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #53245B;
  }
  