/* Configurações gerais */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Cabeçalho */
.header {
    color: white;
    padding: 20px 0;
    text-align: center;
    background-color: #14213d; /* Cor do fundo do cabeçalho */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 50px;
    height: 65px !important;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
}

/* Círculo branco no canto superior direito */
.user-circle {
    position: absolute;
    top: 20px;
    right: 20px; /* Alinha o círculo no canto direito */
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    transform: translateY(-3px); /* Texto sobe ao passar o mouse */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213d;
    padding: 20px;
}

/* Nossos Valores */
.values-section {
    background-color: #E6EDF4;
    padding: 40px 20px;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #121c31;
    text-align: left;
    margin: 25px;
}

.value-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.value-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.value-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #121c31;
}

.value-card p {
    font-size: 1rem;
    text-align: left;
    margin-left: 10px;
    margin-block-end: 15px;
    color: #555;
}

.value-card img.value-icon {
    display: block;
    margin: 35px auto; /* Centraliza a imagem */
    margin-block-end: 35px;
    width: 60px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção */
}

.value-card img.value-icon2 {
    display: block;
    margin: 50px auto; /* Centraliza a imagem */
    margin-block-end: 45px;
    width: 90px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção */
}

/* Quem Somos */
.about-us-section {
    background-color: #E6EDF4;
    padding: 40px 20px;
    text-align: center;
}

.section-description {
    margin-bottom: 30px;
    font-size: 1rem;
    color: #555;
    text-align: left;
    margin: 25px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 10px;
    justify-items: left; /* Centraliza os itens */
    margin-left: 40px;
    align-items: left; /* Centraliza verticalmente os itens */
}

.team-member {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
    margin-bottom: 20px;
}

.team-member p {
    font-size: 0.8rem;
    color: #333;
}

/* Rodapé */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #001F3F; /* Fundo azul escuro igual ao cabeçalho */
    color: white;
}

.footer .logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre a imagem e o texto */
}

.footer .logo-container img {
    width: 40px; /* Tamanho da imagem */
    height: 60px;
}

.footer .links {
    display: flex;
    gap: 20px; /* Espaço entre os links */
}

.footer .links a {
    color: white;
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; /* Espaço entre as linhas */
}

.footer .social a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
}

.footer .social a img {
    width: 20px; /* Tamanho dos ícones */
    height: 20px;
}
