{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale com nosso Suporte</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="header">
            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Logo Economation" class="logo">
                <h1>Economation</h1>
            </div>
            <nav>
                <a href="{% url 'inicio' %}">Início</a>
                <a href="{% url 'noticias' %}" class="active">Notícias</a>
                <a href="{% url 'artigos' %}">Artigos</a>
                <a href="{% url 'cadastro' %}">Cadastro</a>
            </nav>
          <div class="user-circle"></div>
        </div>
    </header>
    
    <form method="POST" action="{% url 'suporte' %}">
        {% csrf_token %}
        <div class="fale-suporte">
            <h2>FALE COM NOSSO SUPORTE</h2>
            
            <!-- Campo Nome -->
            <div class="input-box">
                <input type="text" name="nome" placeholder="Nome" class="contact-form-input" required>
            </div>
            
            <!-- Campo E-mail -->
            <div class="input-box">
                <input type="email" name="email" placeholder="E-mail" class="contact-form-input" required>
            </div>
            
            <!-- Campo Telefone -->
            <div class="input-box">
                <input type="text" name="telefone" placeholder="Telefone" class="contact-form-input" required>
            </div>
            
            <!-- Campo Mensagem -->
            <div class="input-box">
                <textarea name="mensagem" placeholder="Mensagem" class="contact-form-textarea" required></textarea>
            </div>
            
            <!-- Botão de Envio -->
            <button type="submit">Enviar</button>
        </div>
    </form>    

    <div class="logo-cortada">
        <img src="{% static 'images/logo_cortada.png' %}" alt="Logo Cortada" class="logo">
    </div>

</body>
</html>