{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale com nosso Suporte</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="header">
            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Logo Economation" class="logo">
                <h1>Economation</h1>
            </div>
            <nav>
                <a href="#">Início</a>
                <a href="{% url 'noticias' %}" class="active">Notícias</a>
                <a href="{% url 'artigos' %}">Artigos</a>
                <a href="#">Jogos</a>
            </nav>
          <div class="user-circle"></div>
        </div>
    </header>
    
    <div class="fale-suporte">
        <h2>FALE COM NOSSO SUPORTE</h2>
        <div class="input-box">
            <input type="text" placeholder="Nome" class="contact-form-input">
        </div>
        <div class="input-box">
            <input type="email" placeholder="E-mail" class="contact-form-input">
        </div>
        <div class="input-box">
            <input type="email" placeholder="Telefone" class="contact-form-input">
        </div>
        <div class="input-box">
            <textarea placeholder="Mensagem" class="contact-form-textarea"></textarea>
        </div>
        <button type="submit">Enviar</button>
    </div> 

    <div class="logo-cortada">
        <img src="{% static 'images/logo_cortada.png' %}" alt="Logo Cortada" class="logo">
    </div>

</body>
</html>